* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(241, 218, 218);
    font-family: 'Arial', sans-serif;
    background-image: url('loginbg.jpg');
    background-size: cover;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 550px;
    /*border: 4px solid black;*/
    border-radius: 15px;
    /*background-color: white;*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 3em;
    text-align: center;
    padding-top: 20px;
    color: rgb(17, 8, 8);
}

.input-box {
    position: relative;
    width: 320px;
    margin: 20px 30px;
}

.input-box input {
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-size: 1em;
    padding: 10px;
    box-sizing: border-box;
}

.forgot-password {
    text-align: right;
    margin-bottom: 15px;
}

.forgot-password a {
    text-decoration: none;
    color: rgb(204, 38, 57);
    font-size: 0.9em;
}

button {
    width: 100%;
    height: 40px;
    font-size: 1.2em;
    color: white;
    background: rgb(154, 158, 143);
    border: 2px solid rgb(17, 8, 8);
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

button:hover {
    background: rgb(17, 8, 8);
}

.registration-link {
    text-align: center;
    color: rgb(17, 8, 8);
    margin-top: 20px;
    font-size: 0.9em;
}

.registration-link a {
    text-decoration: none;
    color: rgb(17, 74, 45);
    font-weight: bold;
}